/* Some Handy Functions */
/* Code for the website */
/* line 38, ../sass/screen.sass */
body {
  font: 100% "Raleway", sans-serif;
  color: #E74949;
}

/* line 42, ../sass/screen.sass */
img {
  max-width: 100%;
}

/* line 45, ../sass/screen.sass */
li {
  list-style: none;
}

/* line 48, ../sass/screen.sass */
#map-canvas {
  height: 300px;
  margin: 0;
  padding: 0;
}

/* line 53, ../sass/screen.sass */
.row {
  margin-left: 0;
  margin-right: 0;
}

/* Default Navbar */
/* line 58, ../sass/screen.sass */
.navbar-default {
  background-color: #ffffff;
  border: none;
  font-family: "Open Sans", sans-serif;
}

/* line 66, ../sass/screen.sass */
.navbar-default .navbar-nav > li > a {
  color: #777;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}
/* line 68, ../sass/screen.sass */
.navbar-default .navbar-nav > li > a:focus {
  color: #777;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}
/* line 70, ../sass/screen.sass */
.navbar-default .navbar-nav > li > a:hover {
  color: #777;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}
/* line 72, ../sass/screen.sass */
.navbar-default .navbar-nav > li > a:active {
  color: #777;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}

/* line 75, ../sass/screen.sass */
.strong {
  font-weight: bold;
}

/* line 78, ../sass/screen.sass */
.screen-logo-section {
  padding-left: 60px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
}

/* line 81, ../sass/screen.sass */
.screen-title-section {
  padding-left: 100px;
  padding-top: 15px;
  padding-right: 180px;
  padding-bottom: 15px;
}

/* line 84, ../sass/screen.sass */
.bg-1 {
  background-color: #e74c3c;
}

/* line 87, ../sass/screen.sass */
.bg-2 {
  background-color: #6bb9f0;
}

/* Responsiveness Media Queries */
@media (min-width: 1385px) and (max-width: 1600px) and (orientation: landscape) {
  /* line 104, ../sass/screen.sass */
  .pitstop-info span {
    padding-left: 10px;
  }
}
@media (min-width: 1228px) and (max-width: 1385px) and (orientation: false) {
  /* line 108, ../sass/screen.sass */
  .panel-heading.accordion span {
    display: none;
  }
}
@media (max-width: 992px) {
  /* line 112, ../sass/screen.sass */
  .np-md {
    padding: 0px 7px;
  }
}
