img{
	max-width: 100%;
}
body{
	font-family: 'Raleway', sans-serif;
  background-color: #eee;
}
li{
	list-style: none;
}
#map-canvas {
        height: 300px;
        margin: 0px;
        padding: 0px
      }
.row{
	margin-left: 0px;
	margin-right: 0px;
}
/* Default Navbar */
.navbar-default {
  background-color: #fff;
  border: none;  
  font-family: 'Open Sans', sans-serif;
}
.navbar-default .navbar-nav>li>a {
  color: #777;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	background-color: transparent;
}
.navbar-brand{
	padding: 15px;
}
.navbar-nav>li>a {
  padding: 25px;  
  font-weight: 400;
}
.navbar{
	margin-bottom: 0px;
}
.nav-wrapper{
	border-bottom: 1px solid #ccc;
  background: #fff;
}
.container{
	width: 95%;
}
.error{
  color: #E74949;
}
.err-msg{  
    font-size: 18px;
    padding: 20px;
    font-weight: 600;
    margin-bottom: -50px;
    color: #E74949;
}
.strong{
  font-weight: bold;
}
.center{
  display: block !important;
  margin: 0 auto !important;
}

/* Login Screen */
.login-bg{
  background-image: url('../imgs/bg.jpg');
    background-size: cover;
    height: 98vh;
}
.screen-logo-section{
  background-color: #E74949;  
  color: #fff;
}
.sign-screen{
  margin: auto;
    position: absolute;
    top: 20%;
    left: 0;
    bottom: 0;
    right: 0;    
    width: 50%;
}
.screen-logo-section{
  padding: 60px 10px 20px;
}
.sign-screen .col-sm-6{
  padding: 0px;
}
.screen-logo-section img{
  display: block;
    margin: 0 auto;
    width: 30px;
}
.screen-logo-section h2{
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
  text-transform: uppercase;
}
.screen-title-section{
  padding: 100px 15px 180px;
}

.screen-title-section h1{
  text-align: right;
  padding-left: 20%;
  font-weight: 100;
  font-size: 36px;
}
.screen-logo-section p{
  text-align: right;
  margin-bottom: 0px;
}
.sing-screen-wrapper{
  background-color: #292c3d;
}
.sign-screen .panel{
  border:none;
  background-color: #292c3d;
  border-color: transparent;
  box-shadow: none;
}
.sign-screen .panel-body {
    padding: 180px 15px 0px;
}

.sign-screen .form-group .col-md-12{
  padding: 0px;
}
.sign-screen .form-group input{
  border-radius: 0px;
  background-color: #2b3043;
  border-left: transparent;
  border-right: transparent;
  color: #fff;
  border: 1px solid rgba(243, 243, 243, 0.18);
  transition: none;
  height: 45px;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #2b3043 inset;
    color: #fff;
}
.sign-button {
    background: transparent;
    color: #E74949;
    border: 1px solid #E74949;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 10px 50px;
}
.sign-button:hover, .sign-button:active, .sign-button:focus{
  color: #E74949;
}
.form-group {
    margin-bottom: 25px;
}
.text-white{
  color: #fff;
  opacity: 0.5;
}
input:-webkit-autofill {
    background-color: #2b3043 !important;
    border: 1px solid rgba(243, 243, 243, 0.18) !important;
}

/* ============ HEADER =============== */
.city-bg{
	background: url('../imgs/bg.jpg');
	background-size: cover;
	background-position: center;
  background-repeat: no-repeat;
}
.city-bg, .left-map{
	height: 95vh;
  display: table;
  position: relative;
  width: 100%;
}
.header-title{
	position: absolute;
  	bottom: 10px;
  	left: 40px;
}
.header-info{
	float: right;
  	position: absolute;  	
  	bottom: 10px;
  	left: 40px;
}
.city-bg .row, .city-bg .col-sm-10,.city-bg .col-sm-2{
	height: 300px;
	margin-left: 0px;
}
.header-wrapper{
	color: #fff;
  min-height: 300px;
}
.header-title h4{
	font-size: 30px;
	font-weight: 600;
}
.header-title p{
	font-size: 16px;
}
.header-title i{
	margin-left: 15px;
}
.header-info p{
	font-size: 24px;
	font-weight: 600;
}
.bg-white{
  background-color: #fff;
}
.np{
	padding: 0px;
}
.form-control{
  height: 38px;
}
.input-group{
  margin-right: 10px;
}
/* ============ CONTENT SECTION ============ */
.content-wrapper{
	background-color: #eee;
}
.thumb {
    display: inline-block;
  	overflow: hidden;
  	height: 60px;
  	width: 60px;
  	float: left;
  	margin-right: 10px;
}
.thumb img {
    display: block; /* Otherwise it keeps some space around baseline */
    min-width: 100%;    /* Scale up to fill container width */
    min-height: 100%;   /* Scale up to fill container height */
    -ms-interpolation-mode: bicubic; /* Scaled images look a bit better in IE now */
}
.pitstop-info-wrapper{
    
}
.pitstop-info{
	padding: 10px;
  	border-bottom: 1px solid #ccc;
}
.pitstop-info h4{
	font-size: 16px;
  margin-top: 3px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.pitstop-info p{
	font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.pitstop-info span{  
    padding-left: 2px;
}
.pitstop-header{
	  padding: 19px 10px 10px;
	  display: table;
	  width: 100%;
}
.places-options{
	border-left: 1px solid #ccc;
	display: table;
  	width: 100%;
}
.pitstop-header h4{
	font-size: 22px;
	font-weight: 600;	
}
.pitstop-header img{
	display: inline;
  	float: left;
  	margin-right: 10px;
}
.content-header{
	background-color: #fff;
}
.pitstop-nearby{
	display: table;
	margin: 0 auto;
}
.pitstop-nearby li{
	display: table-cell;
	float: left;
	padding: 12px 20px;
  cursor: pointer;
}
.pitstop-nearby li img{
	display: block;
	margin: 0 auto;
}
.pitstop-nearby li p{
	margin-bottom: 0px;
  	text-transform: uppercase;
  	font-weight: 600;
  	font-size: 14px;
  	padding-top: 2px;
}
.palces-panel{
	background-color: #fff;	
	margin: 20px 0px;
	max-width: 300px;
	border-radius: 4px;
	padding-bottom: 5px;
}
.palces-panel h4{
	padding: 15px 10px 5px;
  margin-bottom: 0px;
  color: #333333;
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.pitstop-list{
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.palces-img-wrapper{
  
}
.palces-img-inner-wrapper{
  padding: 60px;
}
.bg-0{
  background-color: #e74c3c;
}
.bg-1{
  background-color: #6BB9F0;
}
.bg-2{
 background-color: #1abc9c;
}
.bg-3{
  background-color: #f39c12;
}
.bg-4{
  background-color: #34495e;
}
.bg-5{
  background-color: #F7CA18;
}
.bg-6{
  background-color: #8E44AD;
}
.bg-7{
  background-color: #2ecc71;
}
.bg-8{
  background-color: #F2784B;
}
.bg-9{
  background-color: #F64747;
}

.bg-10{
  background-color: #ffb230;
}
.bg-11{
  background-color: #c3a279;
}
.bg-12{
 background-color: #ed6c44;
}
.bg-13{
  background-color: #4c4743;
}
.bg-14{
  background-color: #357d7d;
}
.bg-15{
  background-color: #d05250;
}
.bg-16{
  background-color: #518497;
}
.bg-17{
  background-color: #7c9c49;
}
.bg-18{
  background-color: #d7be99;
}
.bg-19{
  background-color: #868882;
}
.palces-panel img{
	width: 40px;
  height: 40px;
  display: block;
  margin: 0px auto;
}
.btn-trip{
	border: none;
  	background-color: #E74949;
  	color: #fff;
  	margin: 10px;
  	padding: 6px 15px;
  	font-weight: 500;
  	display: block;
}
button.btn-trip.remove-pitstop{
  margin: 10px 0px;
}
.custom-link-text{
  padding-left: 5px;
}
.itinerary-modal-form .keycheck{
    float: right;
    position: absolute;
    top: 4px;
    right: -25px;
}
.palces-panel p{	
  padding-left: 10px;
  font-weight: 500;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #333333;
}
.palces-panel span{
	
	margin-left: 10px;
	margin-top: 4px;
}
.palces-panel span img{
	max-width: 100%;
	width: auto;	
}
.palces-list{
	border-left: 1px solid #ccc;
}
.save-itinerary{
  display: block;
  margin: 20px auto;
}
.places-visit-title{
	padding: 20px 20px 0px;
  	font-size: 24px;
  	font-weight: 600;
  	color: #5A5A5A;
      float: left;
}
.places-visit-title:before{
    content: "";
  	position: absolute;
  	width: 12%;
  	height: 1px;
  	top: 60px;
  	border-bottom: 2px solid #F77D7D;
}
.pitstop-header h4{
	display: inline-block;
	float: left;
}
.pitstop-header a{
	float: right !important;
	color: #E74949;
	margin-top: 14px;
}
.pitstop-header a:hover, .pitstop-header a:focus, .pitstop-header a:active{
	color: #E74949;
	text-decoration: underline;
}

/* ============ Checkbox ============== */

.field-checkbox.is-fancy {
  display: inline-block;
  margin-bottom: 10px;
  position: relative;
  float: left;
  margin-right: 15px;
}

.field-checkbox.is-fancy label {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background: #f7f7f7;
  border-radius: 4px;
  box-shadow: 0 0 0 1px #A8A8A8;
}


.field-checkbox.is-fancy label:hover:after {
    opacity: 0.6;
}

.field-checkbox.is-fancy input[type=checkbox] {
    display: none;
    visibility: hidden;
}

.field-checkbox.is-fancy input[type=checkbox]:checked + label {
    background: #BEBCBC;
    box-shadow: 0 0 0 1px #BEBCBC;
}

.field-checkbox.is-fancy input[type=checkbox]:checked + label:after {
  background: transparent;
  border: 4px solid #fff;
  border-right: none;
  border-top: none;
  content: '';
  height: 8px;
  left: 3px;
  position: absolute;
  top: 5px;
  transform: rotate(-45deg);
  width: 13px;
}

.field-checkbox.is-fancy.is-small {
  width: 15px;
}

.field-checkbox.is-fancy.is-small label {
  width: 15px;
  height: 15px;
}

.field-checkbox.is-fancy.is-small input[type=checkbox]:checked + label:after {
    border: 3px solid #fff;
    border-right: none;
    border-top: none;
    height: 3px;
    left: 3px;
    top: 3px;
    width: 7px;
}
.place-text {
  margin-left: 25px;
  font-weight: 500;
  color: #676767;
}
.modal-header{
	border-bottom: 0px;
}
.modal-content{
	background-color: #f7f7f7;
	border-radius: 0px;
}
.modal-header img{
	display: block;
  	margin: 0 auto;
  	padding: 0px 30px;
  	max-width: 100%;
  	padding-bottom: 0px;
}
.modal-footer{
	border-top: 0px;
}
.modal-title{
	text-align: center;
	font-size: 30px;
	font-weight: 600;
	color: #969696;
}
.nearby-place-block{
	display: inline-block;
}
.modal-body{
	  position: relative;
  	padding: 15px;
  	margin: 0 auto;
  	display: block;
    text-align: center;
}
.modal-footer{
	padding-top: 0px;
}
.modal-footer button{
	display: block;
	margin: 0 auto;
}
.modal-footer button {
  color: #fff;
  background-color: #ED5D5D;
  padding: 8px 15px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
  border: none;
}
.modal-footer button:hover, .modal-footer button:active, .modal-footer button:focus{
	background-color: #E44444;
	color: #fff;
	border: none;
}
.modal-header p{
	text-align: center;
  	padding: 0px 5%;
  	color: #969696;
}
.nearby-btn{
  cursor: pointer;
}

/* ========== HOME PAGE ============ */
.home-wrapper{
  background:url('../imgs/home-bg.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.has-success .form-control ,.form-control {
  background-color: rgba(255, 255, 255, 0.77);
  color: #333;
  font-weight: 600;
  border:none;
  border-radius: 0px;11  
}
.has-success .input-group-addon, span.input-group-addon{
  background-color: #474450;
  color: #fff;
  font-weight: 600;
  border-radius: 0px;
  border:none;
  width: 60px !important;
}
.has-success .form-control:hover, .has-success .form-control:active ,.form-control:active, .has-success .form-control:focus ,.form-control:focus, .has-success .input-group-addon:focus, span.input-group-addon:focus, .has-success .input-group-addon:active, span.input-group-addon:active, .has-success .input-group-addon:hover, span.input-group-addon:hover{
  border:none !important;
  outline: none !important;
}
.form-inline{
  display: block;
  margin: 10px auto;
  text-align: center;
}
.form-wrapper {
  padding: 5% 0px;
}
.form-inline .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  width: 300px;
  text-align: center;
  margin: 15px auto;
}
.form-inline .input-group{
  width: 100%;
}
.form-wrapper h4{
  text-align: center;
  font-size: 36px;
}
.form-wrapper p{
  text-align: center;
  font-size: 18px;
  margin-bottom: 40px;
}
.has-feedback .form-control{
  padding-right: 10px;
}
.date-picker{
  display: block !important;
  margin-top: 20px;
}
.input-sm{
  height: 35px;
}
.form-control:hover, .form-control:active, .form-control:focus{
  border:none !important;
  outline: none !important;
  box-shadow: none !important;
}
.form-section button{
  display: block;
  margin: 20px auto;
  padding: 8px 30px;
  font-size: 16px;  
}
.form-section button:active, .form-section button:hover, .form-section button:focus{
  outline: none;
  box-shadow: none;
}
.add-pitsop{
  text-align: center;
  cursor: pointer;
  font-weight: 600;
}
.content-title{
  display: table;
  width: 100%;
}
.content-title .btn-trip{
  float: right;
  margin-top: 25px;
  margin-right: 15px;
}
.content-title .btn-trip:focus, .content-title .btn-trip:active, .content-title .btn-trip:hover{
  outline: none;
}
.add-new-pitstop input{
  font-size: 12px;
  height: 28px;
  background-color: #E5E5E5 !important;
}
.pitstop-info .form-group{
    margin-bottom: 10px !important;
}
.pitstop-info{
  cursor: pointer;
}
.pitstop-info.active{
  background-color: #D8D8D8;
}
.pitstop-info .fa-close-button{
    float: right;
    opacity: 0.7;
    font-size: 10px;
    cursor: pointer;   
    background: transparent;
    border: none;
}
.pitstop-info .fa-close{
  float: right;
  opacity: 0.7;
  font-size: 10px;
  cursor: pointer;
  padding: 5px 0px 5px 5px;
}
.hidden{
  display: none;
}
.trip-controls .save-itinerary, .trip-controls .delete-itinerary{
  float: right;
  margin: 20px 10px;
}
.places-visit{
  clear: both;
}
.place-info{
  padding: 15px;
  padding-bottom: 0px;
  font-weight: 500;
  border-bottom: 1px solid #ccc;
}
.place-info span.place-title{
  font-size: 24px;
  padding-left: 3px;
  font-weight: 600;
  display: inline-block;

}
.thumb.accordion{
  width: 30px;
  height: 30px;
}

.panel-heading.accordion{
  height: 50px;
  cursor: pointer;  
}
.panel-heading.accordion span{
  display: block;
  font-size: 11px;
  padding-top: 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.panel-heading.accordion a:hover, .panel-heading.accordion a:focus, .panel-heading.accordion a:active{
  text-decoration: none;
}
.open-close{
  padding: 4px 10px;
  font-size: 12px;
  display: block;
  margin-top: 2px;
}
.open-close.open{
  background-color: #00b98d;
  text-shadow: none;
  opacity: 1;
  color: #fff;
  font-weight: 600;
  float: left;
}
.open-close.close{
    background-color: #E43F3F;
    text-shadow: none;
    opacity: 1;
    color: #fff;
    float: left;
}
.to-do .panel-body a{
  font-size: 11px;
  display: inline-block;
}
.to-do .panel-body span{
  display: table;
  width: 100%; 
  font-family: 'Open Sans';
  margin-bottom: 4px;
}
.place-info .date-details{
  font-size: 12px;
  margin-top: -6px;
  margin-bottom: 15px;
}
#accordion{
  margin-left: -6px;
}
.itinerary-modal-form button{
  display: block;
  margin: 15px auto;
}
#saveItinerary .form-inline{
  margin: 10px auto;
}
.input-group-addon.custom-link{
  background-color: transparent;
  color: #333;
  margin-right: 0px;
  padding-right: 0px;
}
.custom-link-text{
  padding-left: 2px;
  height: 30px;
}
.mb-15{
  margin-bottom: 15px !important;
}
.np-bt{
  padding-bottom: 0px;
}
.stArrow{
  display: none !important;
}
/* ========== STARS DISPLAY ========== */
span.stars, span.stars span {
    display: block;
    background: url('../imgs/star.png') 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}
.stButton .st-twitter-counter, .stButton .st-facebook-counter, .stButton .st-google-counter{
  height:28px !important;
}
.stButton .stButton_gradient{
  height: 24px !important;
}
.share-trip{
  margin-top: 15px;
  margin-bottom: 10px;
}
.sign-modal-form .form-group{
  margin-bottom: 10px;
  display: block;
}
.sign-modal-form button{
   margin: 15px auto;
}
.join-btn{
  margin-bottom: 10px;
}
.join-btn.fb {
  background-color: #3B5998;
}
.join-btn.fb:hover, .join-btn.fb:active, .join-btn.fb:focus {
  background-color: #4D6FB6 !important;
}
.min-300-sm{
  min-height: 300px;
}
.join-btn, .login-btn {
  display: inline-block;
  width: auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  margin: 0 auto;
  box-shadow: none;
  border: none;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-weight: 600;
  padding: 11px 20px;
  margin-bottom: 12px;
  background-color: #d26d51;
}
.become-member.or {
  margin-top: 20px;
  margin-bottom: 20px;
}
.become-member {
  font-style: italic;
  font-size: 13px;
  letter-spacing: 2px;
  padding: 0px;
}
.modal .join-btn:hover {
  background-color: #C55839;
}
.new_here{
  margin-top: 2px;
  text-align: center;
  display: block;
}

 /* =========== ESCAPE SECTION ============= */
 .escape-wrapper{
  background-color: #f5f6f8;
 }
 .escape-panel{
  border-left: 1px solid #ccc;
  padding: 25px;
 }
 .escape-place{
  border-radius: 5px;  
  position: relative;
  margin-top: 15px;
 }
 .img-wrapper{
  background-image: url('../imgs/img-wrapper.png');
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
 }
 .escape-img{
  height: 250px;
  overflow: hidden;
  position: relative;  
 }
 .escape-img img{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
 }
 .escape-user{
  width: 80px;
  border-radius: 50%;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  border: 2px solid #fff;
 }
 .escape-profile{
  position: absolute;
  top: 50px;
  right: 0px;
  left: 0px;
 }
 .escape-info{
  text-align: center;
  color: #fff
 }
 .escape-info h4{
  font-weight: 600;
  font-size: 22px;
 }
 .escape-info span{
  padding-right: 15px;
  font-size: 15px;
  font-weight: 500;
 }
 .escape-info p{
  color: #ddd;
 }
 .escape-body{
  padding: 15px;
  font-size: 15px;
 }
 .escape-footer{
  background-color: #fff;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 15px 12px;
  font-size: 14px;
  color: #888f95;
 }
 .escape-footer p{
  display: inline-block;
  width: 30%;
  text-align: center;
  margin-bottom: 0px;
  font-weight: 500;
  cursor: pointer;
 }
 .escape-filter-info.active {
  background-color: #E7E7E7;
}
.escape-filter-info {
  cursor: pointer;
}
.escape-filter-info {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.escape-filter-info .fa-close {
  float: right;
  opacity: 0.7;
  font-size: 10px;
  cursor: pointer;
  padding: 5px 0px 5px 5px;
}
.escape-filter-info h4 {
  font-size: 16px;
}
.escape-filter-info p {
  font-size: 12px;
}
.places-options{
  background-color: #fff;
}

/* ============= PROFILE SECTION ============= */
.profile-title{
  position: absolute;
  bottom: 18px;
  left: 25px;
}
.profile-title h4 {
  font-size: 24px; 
  font-weight: 600;
}
.profile-title p {
  font-size: 14px;  
}
.profile-info {
  display: inline-block;
  float: left;
  margin-left: 15px;
  margin-top: 20px;
}
.profile-info h4 i{
  color: #ccc;
  font-size: 16px;
  margin-left: 15px;
  cursor: pointer;
}
.profile-info h4 i span{
  font-family: 'Raleway';
}
.profile-img {
  width: 100px;  
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  margin: 0 auto;
  float: left;
  border:4px solid #fff;
}
.profile-title span{
  margin-right: 15px;
}
.profile-trips{
  position: absolute;
  right: 25px;
  bottom: 25px;
}
.self-trips, .pinned-trips{
  padding: 10px;
  text-transform: uppercase;
  font-family: 'Open Sans';
  text-align: center;
}
.self-trips{
  background-color: rgba(255,255,255,0.3);
  border: 1px solid #ccc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: none;
}
.pinned-trips{
  background-color: rgba(0,0,0,0.2);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #ccc;
}
.trip-no{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0px;
}
.trip-text{
  font-size: 14px;
  margin-bottom: 0px;
}
.nb-left{
  border-left: none;
}
.date-details span{
  display: inline-block;
  padding-left: 5px;
}

/* ============= EDIT PROFILE ============= */
.edit-profile-wrapper{  
  padding: 15px;
    background-color: #fdfdfd;
}
.edit-profile-wrapper h4{
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 600;
}
.profile-img-edit{
  max-width: 200px;
  position: relative;
  padding: 0px;
  display: inline-block;
  float: left;
}
.profile-img-edit .btn-trip{
  margin: 10px auto;
}
.profile-img-edit .get-img{
  position: absolute;
  top: 5px;
  font-size: 20px;
  right: 5px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.23);
  border: none;
  color: #fff;
}
.profile-img-edit button.form-control{
  margin-top: 15px;
}
.profile-info-edit{
  margin-left: 20px;
  margin-top: 0px;
}
.profile-info-edit h4{
  font-size: 18px;
}
.profile-info-edit .form-group{
  margin-bottom: 25px;
}
.form-control.flat-form, .flat-form{
  background-color: #E4E4E4;
  color: #333;
  border-radius: 2px;
  box-shadow: none;
  border: none;
}
.profile-img-edit button:active, .profile-img-edit button:focus{
  outline: none;
}
.profile-preview{
    background-color: #f7f7f7;
    padding: 10px;
}
.profile-preview h4{
  font-size: 18px;
  font-weight: 800;
}
.profile-preview p{
  font-size: 14px;
}
.remove-pitstop-loc{
  padding-left: 10px;
}
button:active, button:focus{
  outline: none !important;
}
.general-info button, .password-info button{
  display: inline-block;
  float: left;
}

/* ============= TRIP VIEW PAGE ============= */
.places-planned .pitstop-info{
  cursor: default;
}
.places-planned .pitstop-info .thumb {
    display: inline-block;
    overflow: hidden;
    height: 60px;
    width: 60px;
    float: none;
    margin-right: 10px;
}
.places-planned h3{
  color: #fff;
}
.places-planned h3 span{
  background-color: rgba(0,0,0,0.2);
  padding: 0px 5px;
  font-size: 30px;
  font-weight: bold;
}
.places-planned .pitstop-info h4 {
    font-size: 22px;
    margin-top: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #fff;
}
.places-planned .pitstop-info p {    
    font-size: 14px;
    white-space: normal;
    color: #fff;
}
.places-planned .pitstop-info {
    padding: 30px 10px 40px 0px;
    border-bottom: none;
}
.places-planned .btn-trip{
  margin: 0px;
  display: inline-block;
}
.places-planned form{
  display: inline-block;
}
.form-wrapper i{
  font-size: 24px;
}
.form-wrapper p i{
  font-size: 14px;
}
.pitstop-places{
  background-color: #eee;
  padding: 20px 40px;
  border-bottom: 1px solid #ccc;
}
.pitstop-places .stars{
  margin: 10px 0px 3px;
}
.palces-panel a{
  font-size: 12px;
}
.pitstop-places .palces-panel p{
  min-height: 17px;
}
.city-bg.height-adjust{
  height: auto;
}
.header-wrapper .content-wrapper{
  background-color: transparent;
}
.header-wrapper .palces-list{
  border: none;
}
.has-key{
  margin-top: 20px;
}
.has-key .input-group{
  margin: 0 auto;
}
.has-key p{
  margin-bottom: 5px;
}
.has-key .btn-trip{
  margin: 10px auto;
}
.no-place{
    margin-top: 35px;
    font-size: 25px;
    text-align: center;
}





/* ============= RESPONSIVE LAYOUT ============= */
@media only screen and (max-width: 1600px) and (min-width: 1385px){
  .pitstop-info span{
    padding-left: 10px;
  }
  .no-lg{
    display: none;
  }
  .pitstop-nearby .no-lg{
    display: none;
  }
}
@media only screen and (max-width: 1385px) {
  .no-md{
    display: none !important;
  }
  .no-lg{
    display: none;
  }
  .place-info span.place-title {
    font-size: 18px;
  }
  .escape-panel{
    padding: 10px;
  }
  .escape-place{
    padding: 4px;
  }
  .escape-info span{
    font-size: 13px;
  }
  .escape-footer p{
    font-size: 13px;
  }
  .escape-footer{
      padding: 12px 6px;
  }
}
@media only screen and (max-width: 1265px) {
  
}
@media only screen and (max-width: 1228px) and (min-width: 1200px){
  .panel-heading.accordion span{
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  .np-lg{
    padding: 0px 7px;
  }
}
@media only screen and (max-width: 992px) {
  .np-md{
    padding: 0px 7px;
  }
}
@media only screen and (max-width: 992px) and (min-width: 768px){ 
  .pitstop-nearby li{
    padding: 12px 12px;
  }
  .pitstop-nearby li.no-sm{
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .navbar-brand {
    padding: 7px;
  }
  .left-map{
    display: none;
  }
  .city-bg, .left-map{
    height: auto;
  }
  .city-bg .row, .city-bg .col-sm-10, .city-bg .col-sm-2{
    display: table;
    height: auto;
    width: 100%;
  }
  .form-group.has-success.has-feedback{
    display: table;
    margin: 10px auto;
  }
  .form-group.date-picker .input-group{
    margin: 0 auto;
  }
  .pitstop-header{
    padding: 19px 20px 10px;
    background-color: #f7f7f7;
  }
  .pitstop-header a{
    margin-top: 10px;
  }
  .pitstop-nearby li p{
    display: none;
  }
  .pitstop-header a{
    display: none;
  }  
  .places-visit-title{
    width: 100%;
    text-align: center;
  }
  .places-visit-title:before{
    width: 34%;
  }
  .content-title .btn-trip{
    float: none;
    display: table-cell;
  }
  .np-xs{
    padding: 3px;
  }
  .city-bg .col-sm-2.no-sm{
    display: none;
  }
  .places-visit{
    border:none;
  }
  .palces-panel{
    margin: 5px 0px;
  }
  .content-title{
    margin: 0 auto;
    text-align: center;
  }
  .content-title .btn-trip{
      margin-top: 15px;
  }
  #accordion{
    margin-left: 0px;
  }
  .xs-dp{
    padding: 10px;
  }
  .pitstop-nearby ul{
    padding-left: 0px;
  }
  .modal-header img{
    max-width: 50%;
  }
  .nearby-place-block{
      display: inline-block;
      width: 40%;
  }
  .profile-trips{
    top: 10px;
  }
  .trip-no{
    font-size: 18px;
  }
  .trip-text{
    font-size: 12px;
  }
  .self-trips, .pinned-trips {
    padding: 4px;
  }
  .profile-img{
    width: 80px;
  }
  .profile-title h4{
    font-size: 18px;
  }
  .profile-title p{
    font-size: 12px;
  }
  .profile-info {  
    margin-left: 4px;
    margin-top: 4px;
  }  
}
